.warning {
  color: red;
}

.lead {
  font: 18px/36px "opensans-light", sans-serif;
  padding-right: 3%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2em;
}
.row {
  width: 96%;
  max-width: 1020px;
  /* margin: 0 auto; */
}
